<div class="landing-page">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center mb-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Products</h5>
                        <p class="card-text">You can see all Products on Store.</p>
                        <a routerLink="/products" class="btn btn-primary">All Products</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-6 d-flex justify-content-center mb-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Add Product</h5>
                        <p class="card-text">You can Add New Product.</p>
                        <a routerLink="/products/add" class="btn btn-primary">Add Product</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>